#
# AMT account search specification
#
# 1) mandatory parameters:
# 
# - source MultiDB instance identifier: 0.0.0.<positive integer>
#
src_database=0.0.0.1
#
# - destination MultiDB instance identifier: 0.0.0.<positive integer>
#
dest_database=0.0.0.2
#
# number of accounts contained in a single account batch: positive integer
#
batch_size=100
#
# 2) optional paramters: 
# (note: at least one of these parameters is required)
#
# - account creation date range: MM/DD/YYYY
#
start_creation_date=
end_creation_date=
#
# - product name (from table: account_t.name): string
#
product_name=
#
# - account status: 'Active' |'Inactive' |'Closed' 
#
account_status=Active
#
# - account billing day: [1-28]
#
bill_day_of_month=
#
# - maximal number of accounts to include in selection: number
#
max_accounts=200
#
# - comma separated list of account poid_id0 values: positive integer [, positive integer]*
#
poid_list=
#
# - example of custom variable:
#
#account_state=California
#
#
# - migration_mode: 'ExcludeAccountGroup' |'IncludeAccountGroup'
#
migration_mode=ExcludeAccountGroup
#
# - max_group_size: 100
#
max_group_size=100
# 
# - If CrossSchemaSharingGroup business param is Disabled, AMT does not check for cross-schema sahring group validation 
# - If CrossSchemaSharingGroup business param is Enabled, AMT checks only first level of cross-schema sharing group validation 
# - Recommendation is to do a pre-check and select accounts for migration which are not in any cross-schema sharing group relation# - directly or indirectly
# - cross_schema_group: 'Disabled'|'Enabled'
# 
cross_schema_group=Disabled
