#**********************************************************************
# Nonpartitioning-to-Partitioning Configuration File
#
# Copyright (c) 2005, 2018, Oracle and/or its affiliates. All rights reserved.
#
#      This material is the confidential property of Oracle Corporation or
#      its licensors and may be used, reproduced, stored or transmitted only
#      in accordance with a valid Oracle license or sublicense agreement.
#
#
# The parameters in this file control how tables are
# partitioned during the nonpartitioning-to-partitioning 
# process.
#
# IMPORTANT  Before running the partitioning.pl script, read this
# entire file and be sure you understand the parameters it contains.
#**********************************************************************

#===============================================================
# Various database tools used.
#
#===============================================================
$SQLPLUS=sqlplus;

#===================
# Owner
#=================== 
$OWNER = "pin";

#===================
# sqlnet alias
#
#===================
$DBNAME = "pindb";


#===================================================================================
# Partition log directory. Partition scripts create PINLOG files here. 
#
# If you are running Partition scripts from NT, please make sure 
# you use two backslashes (\\) instead of one to seperate the
# the directories.
#
# Example (NT)
#
#	$PARTITION_LOG_DIR = "C:\\infranet\\upgrade\\partition\\sqllog";
#
# Example (UNIX)
#
#	$PARTITION_LOG_DIR = "/opt/portal/7.2/upgrade/partition/sqllog";
#
# If running more than one instance of the upgrade script specify different log file
# directories for each instance.
#
#===================================================================================
$PARTITION_LOG_DIR = "$ENV{'PIN_HOME'}/upgrade/partition/sqllog";


#==============================================================================
# Name of the rollback segment to use. If running more than one instance of the
# upgrade script have different rollback segment for each instance.
#
#==============================================================================
$PIN_RBS = "rbs_big1";


#=============================================================
# The list of Partition scripts
#
#=============================================================
@SQL_OFFLINE1 = ( "pin_upg_common.sql");

#=============================================================
# The list of Partition cripts for desired partition tables. It should be updated 
# to reflect the type of objects to be partitioned.
#
#=============================================================
@SQL_PARTITION_TABLES = ("item_tables_tobe_partitioned.sql", "bill_tables_tobe_partitioned.sql", "journal_tables_tobe_partitioned.sql", "invoice_tables_tobe_partitioned.sql", "event_tables_tobe_partitioned.sql", "tmpAR_tables_tobe_partitioned.sql", "schedule_tables_tobe_partitioned.sql", "topup_tables_tobe_partitioned.sql");

@SQL_PARTITION = ("make_indexes_partition_ready.sql", "optional_partition.sql");

@ALL_SCRIPTS = (@SQL_OFFLINE1, @SQL_PARTITION_TABLES, @SQL_PARTITION);


#==========================================================================
# Delete the temporary sql files (Y/N)?.
#
# When executing SQL scripts, first a temporary file is created with  
# all the perl variables substituted. This file will be deleted after 
# the completing of the script. By setting this parameter to 'N', this 
# default behaviour can be changed. This is helpful for debugging in case
# of an error.
#
#==========================================================================
$DELETE_TEMP_SQL_FILES = "Y";


#==========================================================================
# Upgrade temporary tables tablespace.
#
# Upgrade scripts creates many temporary tables while processing data.
# By assigning specific tablespace to these temporary tables performance
# can be increased.
#
#==========================================================================
$UPG_TEMPTBLS_TABLESPACE = "tablespace pin00";


#==========================================================================
# Upgrade temporary indexes tablespace.
#
# Tablespace to create the index for these temporary tables.
# By assigning specific tablespace to these temporary indexes performance
# can be increased.
#
#==========================================================================
$UPG_TEMPINDX_TABLESPACE = "tablespace pinx00";

#===========================================================================
# Storage parameters for the upgrade temporary tables and indexes.
#
# Uncomment one of the following lines, depending on the size of your 
# database or the amount of data that will be processed.
#
# Do not uncomment more than one line.
#
#===========================================================================
$UPG_STORAGE = "storage (initial 750k next 750k pctincrease 0 maxextents unlimited)";
#$UPG_STORAGE = "storage (initial 4m next 4m pctincrease 0 maxextents unlimited)";
#$UPG_STORAGE = "storage (initial 12m next 12m pctincrease 0 maxextents unlimited)";


#===========================================================================
# Enable SQL tracing.
#
# SQL tracing helps to identify the performance bottlenecks. Turn on the SQL
# tracing when running these scripts against the test database, or if you 
# encounter any performance issues. 
#
# To turn on the SQL tracing set the value to TRUE, in addition to setting the
# oracle parameter timed_statistics (to TRUE).
#
# Valid values for this SQL_TRACE are TRUE and FALSE.
#
#===========================================================================
$SQL_TRACE = "FALSE";

#===========================================================
# FOR STORAGE PHRASE WHEN CREATING TABLES
# Uncomment one of the STORAGE_x macros in each set
#
#===========================================================
$PIN_CONF_STORAGE_SMALL	= "storage (initial 100k next 100k pctincrease 0 )";
# $PIN_CONF_STORAGE_SMALL = "storage (initial 200k next 200k pctincrease 0 )";
# $PIN_CONF_STORAGE_SMALL = "storage (initial 500k next 500k pctincrease 0 )";
# $PIN_CONF_STORAGE_SMALL = "storage (initial 750k next 750k pctincrease 0 )";

$PIN_CONF_STORAGE_SMALL_INS = "storage (initial 200k next 200k pctincrease 0 freelists 2 )";
# $PIN_CONF_STORAGE_SMALL_INS = "initrans 2 storage (initial 500k next 500k pctincrease 0 freelists 2 )";
# $PIN_CONF_STORAGE_SMALL_INS = "initrans 4 storage (initial 750k next 750k pctincrease 0 freelists 4 )";

$PIN_CONF_STORAGE_MED = "storage (initial 100k next 100k pctincrease 0 )";
# $PIN_CONF_STORAGE_MED = "storage (initial 200k next 200k pctincrease 0 )";
# $PIN_CONF_STORAGE_MED = "storage (initial 1m next 1m pctincrease 0 )";
# $PIN_CONF_STORAGE_MED = "storage (initial 2m next 2m pctincrease 0 )";

$PIN_CONF_STORAGE_MED_INS = "storage (initial 200k next 200k pctincrease 0 freelists 2 )";
# $PIN_CONF_STORAGE_MED_INS = "initrans 2 storage (initial 1m next 1m pctincrease 0 freelists 2 )";
# $PIN_CONF_STORAGE_MED_INS = "initrans 4 storage (initial 2m next 2m pctincrease 0 freelists 4 )";

$PIN_CONF_STORAGE_LARGE	= "storage (initial 1m next 1m pctincrease 0 )";
# $PIN_CONF_STORAGE_LARGE = "storage (initial 4m next 4m pctincrease 0 )";
# $PIN_CONF_STORAGE_LARGE = "storage (initial 16m next 16m pctincrease 0 )";

$PIN_CONF_STORAGE_LARGE_INS = "initrans 4 storage (initial 1m next 1m pctincrease 0 freelists 8 )";
# $PIN_CONF_STORAGE_LARGE_INS = "initrans 6 storage (initial 4m next 4m pctincrease 0 freelists 12 )";
# $PIN_CONF_STORAGE_LARGE_INS = "initrans 8 storage (initial 16m next 16m pctincrease 0 freelists 16 )";

$PIN_CONF_STORAGE_HUGE  = "storage (initial 20m next 20m pctincrease 0 )";

$PIN_CONF_STORAGE_HUGE_INS = "initrans 10 storage (initial 20m next 20m pctincrease 0 freelists 20 )";


#============================================================
# Option to create the monthly table partitions.
#
# By default monthly partitions (12 partitions to store 1 year data)
# will be created. 
# This feature has been disabled sometimes ago. So "Yes" would not work
# and misleading.
#
# Set this parameter to 'NO' to skip creating the monthly partitions.
#
#============================================================
$MONTHLY_PARTITIONS = "NO";

#===========================================================
# Get the currnet directory.
#
#==========================================================
if ($^O =~ /win/i)
{
        $UPG_DIR = `cd`;
}
else
{
        $UPG_DIR = `pwd`;
}
chop($UPG_DIR);
#============================================================================================
#This is used in the upgrade scripts bal_grp_t_mapping_table_t.sql and billinfo_t.sql files 
#The default value is 1. The value should be changed based on the db number. For example if
#db number is 0.0.0.2, the value should be changed to 2
#============================================================================================

$DB_NO = 1;

#===========================================================
# Need to return for the "require" statement
#
#===========================================================
1;

