AUTHEN {
   User-Name = 'user' || $N 
   NAS-IP-Address = $I
   NAS-Port = $P
   User-Password = 'password'
   h323-conf-id = 'h323-conf-id\=B566EC63 4BC003F 0 ' || $U || $N || $I 
   Calling-Station-Id = '1415' || $O
  }

AUTHOR {
   User-Name = 'user' || $N 
   NAS-IP-Address = $I
   NAS-Port = $P
   User-Password = 'password'
   h323-conf-id = 'h323-conf-id\=B566EC63 4BC003F 0 ' || $U  || $N || $I
   Calling-Station-Id = '1415' || $O
   Called-Station-Id = '1408' || $D
  }


START {
   Acct-Status-Type = Start
   NAS-Port = $S
   User-Name = $S
   Acct-Session-Id = $U         
   Acct-Delay-Time = 0
   Service-Type = Login
   NAS-IP-Address = $S
   Calling-Station-Id = '1415' || $O
   h323-gw-id = 'h323-gw-id\=portal_voip_gw_2.portal.com'
   h323-conf-id = 'h323-conf-id\=B566EC63 4BC003F 0 ' || $U  || $N || $I
   h323-call-origin = 'h323-call-origin\=originate'
   h323-call-type = 'h323-call-type\=VoIP'
   h323-setup-time = 'h323-setup-time\=' || $T || ' PST '|| $W || ' Jul 2 1999'
  }

STOP {
   NAS-IP-Address = $S
   Acct-Status-Type = Stop
   NAS-Port = $S
   User-Name = $S
   Acct-Session-Id = $U         
   Acct-Delay-Time = 0
   Service-Type = Login
   Acct-Input-Octets = $R(1000,4000)
   Acct-Output-Octets = $R(1000,8000)
   Acct-Input-Packets = $R(1,40)
   Acct-Output-Packets = $R(1,40)
   Acct-Session-Time =  $R(10,40)
   Calling-Station-Id = '1415' || $O
   Called-Station-Id = '1408' || $D
   h323-gw-id = 'h323-gw-id\=portal_voip_gw_2.portal.com'
   h323-conf-id = 'h323-conf-id\=B566EC63 4BC003F 0 ' || $U  || $N || $I
   h323-call-origin = 'h323-call-origin\=originate'
   h323-call-type = 'h323-call-type\=Telephony'
   h323-setup-time = 'h323-setup-time\=16:03:58.550 DST Fri Jul 2 1999'
   h323-connect-time = 'h323-connect-time\=16:03:58.580 DST Fri Jul 2 1999'
   h323-disconnect-time = 'h323-disconnect-time\=16:05:03.360 DST Fri Jul 2 1999'
   h323-disconnect-cause = 'h323-disconnect-cause\=10'
   h323-voice-quality = 'h323-voice-quality\=0'
  }

