########################################
# event_start_time_stamp
#
# Date/Time timestamp of the event
# The format of the date/time stamp is
# MM/DD/YYYY HH:MM:SS
# where HH is in 24 hour mode.
# example event_start_time_stamp 04/24/2002 17:07:00
########################################
event_start_time_stamp 12/15/2001 17:07:00

########################################
# event_end_time_stamp
#
# Date/Time timestamp of the event
# The format of the date/time stamp is
# MM/DD/YYYY HH:MM:SS
# where HH is in 24 hour mode.
# example event_start_time_stamp 04/24/2002 17:07:00
########################################
event_end_time_stamp 6/20/2002 17:07:00

########################################
# account
#
# $DB_NO /account 19883 
########################################
#account 0.0.0.1 /account 10879 

########################################
# sequence number
#
# Specify the file sequence number
########################################
#file_sequence_number 777888999

########################################
# impact_category
#
# Name of impact category
# NOTE: case sensitive
########################################
#impact_category NAT_FIX

########################################
# rate_plan
#
# The name of the rateplan
# NOTE: case sensitive
########################################
#rate_plan free movie


########################################
# item obj
# 
# $DB_NO /item/misc 11647 
########################################
#item_obj 0.0.0.1 /item/misc 11647 


########################################
# Deal Name
#
# The name of the deal
# NOTE: case sensitive
########################################
#deal Deal_Name 

########################################
# resource_id
#
########################################
#resource_id 840

########################################
# gl_id
#
########################################
#gl_id 33

########################################
# event_category and event_type 
#
# Specify event categories and event types of each category to process
# 
########################################
event_category gsm
gsm /event/delayed/session/telco/gsm
#event_category gprs
#gprs /event/delayed/session/gprs
#event_category wap
#wap /event/delayed/activity/wap/interactive

########################################
# search_event_type, search_field, and search_parameter
#
# Specify the event type used for the search. The event type here
# should be the event subclass that contains the search fields. Only
# events that are of the specified type or a subclass of the specified
# type will be extracted.
#
# Specify the search fields and parameters. The criteria specified
# as search parameters are used in addition to the implicit criteria
# from the rest of this file. It is the users responsibility to make
# sure that these fields exist in all of the events to be extracted.
# It is also the users responsibility to make sure that the fields are
# contained in the storable class specified by the event type.
#
########################################
#search_event_type /event/delayed/session/telco

#search_field PIN_FLD_TELCO_INFO.PIN_FLD_USAGE_TYPE
#PIN_FLD_TELCO_INFO.PIN_FLD_USAGE_TYPE Customer-to-Customer Call

#search_field PIN_FLD_TELCO_INFO.PIN_FLD_TERMINATE_CAUSE
#PIN_FLD_TELCO_INFO.PIN_FLD_TERMINATE_CAUSE 1

########################################
# service name 
#
# Service name associated with the event
# NOTE: case sensitive
########################################
#service PIN Service Object

########################################
# product name 
#
# Product Names 
# NOTE: case sensitive
########################################
#product Standard GSM Telephony

########################################
# event_created_start_time_stamp 
#
# Date/Time timestamp of the event created time
# The format of the date/time stamp is
# MM/DD/YYYY HH:MM:SS
# where HH is in 24 hour mode.
# example event_created_start_time_stamp 04/24/2002 17:07:00
########################################
#event_created_start_time_stamp 04/24/2002 17:07:00

########################################
# event_created_end_time_stamp 
#
# Date/Time timestamp of the event created time
# The format of the date/time stamp is
# MM/DD/YYYY HH:MM:SS
# where HH is in 24 hour mode.
# example event_created_end_time_stamp 04/24/2004 17:07:00
########################################
#event_created_end_time_stamp 04/24/2004 17:07:00
